/*Universal rules*/

html {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    background-color: white;
}


.container{
    max-width: 960px;
    margin: 0 auto;
}

h1 h4 {
    font-weight: bold;
}

h4 {
    display: block;
}

/*company banner*/

.company {
    background-color: black;
    color: white;
    font-size: 1rem;
}

.company .container {
    display: flex;
    align-items: center;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
}

.company img {
    height: 1.5em;
    padding-right: 15px;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

/*main banner*/

.main-banner {
    height: 25em;
    background-image: url("../photos/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.headline{
    background-color: black;
    color: white;
    width: 20em;
    position:relative;
    top: 9em;
    padding: 2em 3em;
    opacity: 1;
    font-weight: bold;
}

.headline h1 {
    font-size: 2em;
    margin: 0.25em;
    font-weight: bold;
    display: block;
    line-height: 1.2em;
}

.headline h4 {
    font-size: 1rem;
    line-height: 0.25rem;
    margin: 1em 0;
}

/*nav bar*/

nav {
    background-color: firebrick;
    color: white;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em 0;
}

nav ul {
    list-style: none;
}

nav .mobile-nav {
    display: none;
}


/*Products info*/

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3em 0 0 0;
}

.product {
    width: 30%;
}

.product-image {
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    padding: 2em 0px;
}

.product img {
    max-width: 8em;
}

.description {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5em;
}

/*Business info*/

.business-info {
    display: flex;
    justify-content: space-between;
    margin: 3em 0 0 0;
}

.info {
    width: 35%;
    color: black;
}

.title {
    display: block;
    background-color: black;
    color: white;
    padding: 1em 2em;
}

/*Footer*/

footer {
    background-color: black;
    color: white;
    margin-top: 4em;
    padding: 5em 0px;
}

/*Responsive design*/

/*Tablet 1024px*/

@media only screen and (max-width: 1024px) {
    
        nav .container{
        display: none;
    }

    nav .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75em 0;
    }

    .product {
        width: 47%;
    }

    .product.glasses {
        display: none;
    }
    
    .info {
        width: 35%;
    }

    .company {
        font-size: 1.5em;
    }
    
}

/*Phone 470px*/

@media only screen
and (max-width: 480px)
and (min-width: 320px)
and (orientation: portrait) {
    
    .company span {
        display: none;
    }
    
    .company .container{
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 1.25rem 1.25rem;
    }
    
    nav .mobile-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 10%;
      padding-bottom: 5%
    }
    
    .headline {
    width: 100%;
    padding-left: 4%
        
  }
    
    .headline h1 {
    font-size: 1.80rem;
    margin: auto;
  }
    .headline h4 {
        font-size: 1rem;
        font-weight:200;
    }
    
    .main-banner {
    height: 18em;
  }

    .business-info{
      width: 90%;
      padding-top: 1rem;
    }

    .container .business-info{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      padding: 0.5rem;
    
    }
    
    .info{
        width: 90%;
        padding-top: 0.5rem;
        margin-bottom: 
    }
    
    .info span{
        margin-bottom: 5%;
        margin-top: 5%;
        padding-bottom: 5%;
    }
    
    .products{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    
    .product.glasses {
        display: none;
    }

    .product.watch {
        display: none;
    }
    
    .product.pen{
        width: 200%;
    }
    
    footer {
      text-align: center;
    }
    
}
    

